NODE_ENV=local
CONVEX_URL=convex-dev-url
CONVEX_SITE_URL=convex-site-url
AUTH_SECRET=randomly-generated-secret
NEXT_PUBLIC_CONVEX_URL=convex-dev-url
CONVEX_DEPLOYMENT=convex-dev-deployment
OPENAI_API_KEY=sk-proj-your-openai-api-key
AUTH_GOOGLE_SECRET=your-google-client-secret
OPENROUTER_API_KEY=sk-or-v1-proj-your-openrouter-api-key
AUTH_GOOGLE_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_GENERATIVE_AI_API_KEY=AI_your-google-generative-ai-api-key